<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<%= link_to "Back",products_path %> | <%= link_to "Edit Product", edit_product_path(@product) %> | <%= link_to "Delete", @products, method: :delete, data: {confirm: "Delete yes or no??"}%>

<p><%= @product.name%>, <%=@product.formatted_price%></p>
<p><%= @product.description%></p>
