<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<%= link_to "Back",products_path %> | <%= link_to "Edit Product", edit_product_path(@product) %> | <%= link_to "Delete", @products, method: :delete, data: {confirm: "Delete yes or no??"}%>

<p><%= @product.name%>, <%=@product.formatted_price%></p>
<p><%= @product.description%></p>

<h3>Reviews</h3>
  <p>Reviews for <%= @product.name %></p>

<div class="review-list">
  <%= render :partial => "reviews" %>
</div>

<% if current_user %>
  <h4>New Review</h4>

  <%= form_for [@product, @review], :remote => true do |f| %>

  <div id="review-form-errors">
    <%= render "error" %>
  </div>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  <p>Please <%= link_to "log in", new_sessions_path %> to add a review.</p>
<% end %>


<script type="text/javascript">
  $(function() {
     $("#new_review")
        .on('ajax:beforeSend', function() { // set this code to happen just before the ajax request is made
          $("input[type='submit']") // make changes to the submit button
            .val('Saving...') // change the text on the button
            .attr('disabled', 'disabled'); // disable the button
        })
        .on('ajax:complete', function() {
          $("input[type='submit']")
            .val('Create Review')
            .removeAttr('disabled');
        });
  });
</script>
