<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<%= link_to "Back",products_path %> | <%= link_to "Edit Product", edit_product_path(@product) %>

<p><%= @product.name%>, <%=@product.price_in_cents%></p>
<p><%= @product.description%></p>
